.page {
    width: 20vw;
    height: 32vw;
    border-radius: 0.7vw;
    border: solid #aaaaaa 1px;
    margin: 2vw;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7vw;
    background-color: #606060;
    border-radius: 0.7vw 0.7vw 0 0;
}

.url {
    background-color: #707070;
    color: white;
    width: 93%;
    box-sizing: border-box;
    border-radius: 3vw;
    padding: 0.3vw 0.5vw;
    text-align: center;
    font-size: 0.8em;
}

.content {
    padding: 2vw;
    overflow-y: scroll;
    height: calc(32vw - 2.7vw);
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.dark {
    background-color: #333333;
}